Ram Yegneswar <ramyegneswarseeram@gmail.com> <ganganaveen_potu@srmap.edu.in>
Ram Yegneswar <ramyegneswarseeram@gmail.com> Ganga Naveen <ganganaveen_potu@srmap.edu.in>
Ram Yegneswar <ramyegneswarseeram@gmail.com> ganganaveen123 <ganganaveen_potu@srmap.edu.in>
Ram Yegneswar <ramyegneswarseeram@gmail.com> Naveen <ganganaveen_potu@srmap.edu.in>

Ram Yegneswar <ramyegneswarseeram@gmail.com> Harish Dannana <dannanaharish2004@gmail.com>
Ram Yegneswar <ramyegneswarseeram@gmail.com> harishdannana <dannanaharish2004@gmail.com>
Ram Yegneswar <ramyegneswarseeram@gmail.com> Ramachandra-Pydi-18 <dannanaharish2004@gmail.com>
